
<!-- nav bar fixed at top -->
<header class="page-header">
  <nav>
    <span>
      <span id="logo">
        BIKE + SELL
      </span>
      <form>
        <input type="search" id="main-search" name="main-search" placeholder="n+1 awaits">
        <button>go!</button>
      </form>
    </span>

    <span>
      <span>Hello, user!</span>
      <button>Post Bike</button>
    </span>
  </nav>

</header>

