<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bike & Sell - Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css"/>
  <link rel="stylesheet" href="/styles/header.css"/>
  <link rel="stylesheet" href="/styles/listing-container.css"/>

  <!-- import external fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Playfair+Display&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/index.js"></script>
</head>

<body>

<!-- nav bar fixed at top -->
<nav>
  <span>
    <span id="logo">
      BIKE + SELL
    </span>
    <form>
      <input type="search" id="main-search" name="main-search" placeholder="n+1 awaits">
      <button>go!</button>
    </form>
  </span>

  <span>
    <span>Hello, user!</span>
    <button>Post Bike</button>
  </span>
</nav>

<header class="page-header">

  Browse All Bikes
</header>

<!-- <img src="/public/test_images/bike_header.jpg" alt="grainy film photo of a bike loaded up for bikecamping"> -->
<main>
  <!-- show featured and most recent containers -->
  <div class="listing-container">
    <article class="listing">
      <span class="image">
        url img goes here
      </span>
      <span class="listing-overview">
        <header>
          $1234 - Bike Listing Title
        </header>

        <p> description of bike </p>

        <footer>
          <span>Item location - N days ago</span>
          <span></span>
        </footer>
      </span>
    </article>

    <article class="listing">
      <span class="image">
        url img goes here
      </span>
      <span class="listing-overview">
        <header>
          $1234 - Bike Listing Title
        </header>

        <p> description of bike </p>

        <footer>
          <span>Item location - N days ago</span>
          <span></span>
        </footer>
      </span>
    </article>

    <article class="listing">
      <span class="image">
        url img goes here
      </span>
      <span class="listing-overview">
        <header>
          $1234 - Bike Listing Title
        </header>

        <p> description of bike </p>

        <footer>
          <span>Item location - N days ago</span>
          <span></span>
        </footer>
      </span>
    </article>
  </div>
</main>

</body>

</html>
