<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bike & Sell - Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- external js -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- TimeAgo -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js" integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- stylesheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css"/>
  <link rel="stylesheet" href="/styles/listing-container.css"/>



  <!-- import external fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Playfair+Display&display=swap" rel="stylesheet">

  <!-- <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
      integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script> -->

    <script src="/vendor/jquery-3.0.0.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.2/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.2/jquery.modal.min.css" />
  <script defer src="/scripts/index.js"></script>
</head>
<body>
  <%- include('partials/_header', {user: user}) %>


<!-- <img src="/public/test_images/bike_header.jpg" alt="grainy film photo of a bike loaded up for bikecamping"> -->
<main>
  <form>
      <div class="dropdown-form" style= "display: none;">

        <h2>SELL YOUR BIKE</h2>

      <!-- bike title, price, city, size and type -->
      <section class="bike-details">

        <div class="form-inputs">
          <input placeholder="Title" type="text" id="new-listing_title">
          <input placeholder="Price" type="text" name="Price" id="new-listing_price">
          <input placeholder="City" type="text" name="City" id="new-listing_city">
        </div>

        <div class="form-selects">
          <select id="new-listing_size">
            <option value>Size</option>
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
          </select>

          <select id="new-listing_type">
            <option value>Type</option>
            <option value="road">Road</option>
            <option value="mountain">Mountain</option>
            <option value="Hybrid/Commuter">Hybrid/Commuter</option>
            <option value="Gravel">Gravel</option>
            <option value="ebike">E-Bike</option>
          </select>
          <input placeholder="Image URL" type="text" id="post-image">
        </div>
      </section>

      <!-- bike description -->
      <textarea id="new-listing_description" name="Description" placeholder="Description"></textarea>
      <div>
        <button type="submit" class="post-button">Post Bike</button>
      </div>

    </div>
  </form>

  </div>





  <!-- container for listings-->
  <div class="listing-container"></div>


</main>

<!-- pop up to message seller -->
<div id="message-popup" class="modal">
  <h3>Interested? Message the seller:</h3>
  <form id="message-form">
    <input class="user-cell" type="tel" placeholder="Your Phone Number ex. (123) 456-7890" name="user-cell" pattern="/^\(?(\d{3})\)?[- ]?(\d{3})[- ]?(\d{4})$/" required>
    <textarea class="user-message" name="user-message" placeholder="Hey! I'm interested in your sick ride!" required></textarea>
    <button class='send-message' type="submit">Send message!</button>
  </form>
</div>

<div id="message-sent" class="modal">
  <p>Your message has been sent!</p>
  <button class="popup-close">OK!</button>
</div>

<div id="message-error" class="modal">
  <p>Something went wrong</p>
  <button class="popup-close">Go Back!</button>
</div>
</body>

</html>
