<!DOCTYPE html>
<html lang="en">

<head>
  <title>Product</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/product.js"></script>
</head>

<body>

  <%- include('partials/_header') %>

  <section class="product-details">

    <header>
      <h2>Title</h2>
      <h4>Price</h4>
    </header>

    <span class="cover-image">
      <img src= "https://unsplash.it/600/400" />
    </span>

    <span class="image-library">
      <ul>
        <li><img src= "https://unsplash.it/200/100" /></li>
        <li><img src= "https://unsplash.it/200/100" /></li>
        <li><img src= "https://unsplash.it/200/100" /></li>
      </ul>
    </span>

    <span>
      <h4>Description</h4>
      <p></p>
    </span>


  </section>

  <div class="product-post-info">

    <small id="timeago">Posted 5 min ago</small>
    <small id="product-location">Victoria</small>

  </div>

  <div class="seller-contact">

    <h4>Contact UserX</h4>

    <form action="" method="post" id="message">
      <input placeholder="Message" type="text" name="Message" id="new-message">
      <button type="submit">Send</button>
    </form>

    <h5>User Name</h5>
    <small>Owner</small>
    <small># listings</small>

  </div>

</body>

</html>
