<!DOCTYPE html>
<html lang="en">

<head>
  <title>Product</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/results.js"></script>
</head>

<body>

  <aside class="side-nav_filters">
    <input placeholder="Price" type="text" name="Price" id="price-filter">

    <select class="size-filter">
      <option value>Size</option>
      <option value="xs">XS</option>
      <option value="s">S</option>
      <option value="m">M</option>
      <option value="l">L</option>
      <option value="xl">XL</option>
    </select>
    <select class="type-filter">
      <option value>Type</option>
      <option value="road">Road</option>
      <option value="mountain">Mountain</option>
      <option value="Hybrid/Commuter">M</option>
      <option value="Gravel">Gravel</option>
      <option value="ebike">E-Bike</option>
    </select>

    <div id="city-filter">
  <input placeholder="City" type="text" name="City">
  </div>
  </aside>

  <section class="results-feed">
  </section>

</body>
