<!DOCTYPE html>
<html lang="en">

<head>
  <title>Product</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css"/>
  <link rel="stylesheet" href="/styles/header.css"/>
  <link rel="stylesheet" href="/styles/listing-container.scss"/>
  <link rel="stylesheet" href="/styles/results.css"/>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/results.js"></script>
</head>

<body>

  <%- include('partials/_header') %>

    <aside class="side-nav_filters">
      <h2>Filter</h2>

      <div class="price-filter">
      <input placeholder="Price" type="text" name="Price">
      </div>
      <div class="size-filter">
        <select>
          <option value>Size</option>
          <option value="xs">XS</option>
          <option value="s">S</option>
          <option value="m">M</option>
          <option value="l">L</option>
          <option value="xl">XL</option>
        </select>
      </div>

      <div class="type-filter">
      <select>
        <option value>Type</option>
        <option value="road">Road</option>
        <option value="mountain">Mountain</option>
        <option value="Hybrid/Commuter">M</option>
        <option value="Gravel">Gravel</option>
        <option value="ebike">E-Bike</option>
      </select>
      </div>

      <div class="city-filter">
        <input placeholder="City" type="text" name="City">
      </div>

      <button type="submit" class="apply-filters">Apply Filters</button>
    </aside>

    <div class="listing-container">
      <article class="listing">
        <span class="image">
          url img goes here
        </span>
        <span class="listing-overview">
          <header>
              $1234 - Bike Listing Title
          </header>

          <p> description of bike </p>

          <footer>
            <span>Item location - N days ago</span>
            <span></span>
          </footer>
        </span>
      </article>

    </div>

</body>
