.dropdown-form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  //form inputs
  input {


    background-color: $base-colour;
  }

  .bike-details{
    width: 90%;
    margin: 2rem;


    #new-listing_title {
      margin-right: 1rem;
    }

    #new-listing_price, #new-listing_size, #new-listing_type {
      margin-right: 1rem;
      margin-left: 1rem;
    }

    #new-listing_city {
      margin-left: 1rem;
    }
  }

  #new-listing_description {
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    height: 10rem;
  }

  #buttons{
    justify-content: flex-end;
    margin: 1rem;
    margin-bottom: 5rem;
  }

}
