$base-colour: rgb(255, 251, 243);
$hightlight-color-1:rgb(229, 252, 110);
$highlight-color-2: rgb(147, 126, 196);


// main page header, visible after scrolling
.page-header {
  display: flex;
  align-items: flex-start;

   //navbar
  nav {
    padding-top: 20px;
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: $highlight-color-2;
    color: black;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-bottom: 2px solid black;

    display:flex;
    justify-content: space-between;
    align-items: flex-start;

    #logo {
      background-color: $hightlight-color-1;
      padding: 5px 10px;
      border: 2px solid black;
      border-radius: 20px;

      font-weight: 400;
      font-size: larger;
    }

   span {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
    }

  }

  //toggle bar
    //style toggle bar
    .toggle-bar {
      margin-top: 80px;
      display: flex;
      gap: 5px;
      padding: 10px
    }

}





