$base-colour: rgb(255, 251, 243);

header {
  padding-top: 100px;

  font-size: larger;
  font-family: 'Playfair Design', 'Times New Roman', Times, serif;
  font-style: italic;


  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center


}
