$base-colour: rgb(250, 236, 217);


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: $base-color;
  font-family: 'DM Sans', sans-serif;

}


