//$base-colour: ;
$base-colour: #FCF7FF;
$hightlight-color-1: rgb(229, 252, 110);
$highlight-color-2: rgb(147, 126, 196);
$background-color: rgb(255, 251, 243);



main {
  //positioning
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;

  .dropdown-form {
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 75%;
    padding: 2rem;
    margin-bottom: 5rem;
    background-color: $highlight-color-2;
    border: 2px solid black;
    border-radius: 5px;;

    //style bike properties form
    .bike-details{
      width: 90%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .form-inputs {
        display: flex;
        justify-content: space-around;
        gap: 5px;
        input {
          background-color: #FFFFFF;
          padding: 4px 2px;
        }
      }

      .form-selects {
        display: flex;
        justify-content: center;
        gap: 5px;
        select {
          padding: 4px 2px;
          border-radius: 5px;

        }
      }
    }
    #new-listing_description {
      justify-content: flex-start;
      align-items: flex-start;
      width: 90%;
      height: 10rem;
    }
  }

}

